<!--The content below is only a placeholder and can be replaced.-->
<header>
 <ul class="nav nav-pills">
    <li class="nav-item" >
      <a class="nav-link " routerLink="/home" routerLinkActive="active">HOME</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/items"  routerLinkActive="active">BLOG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="fdsfdsf"  routerLinkActive="active">404</a>
    </li>

  </ul>
</header> 

<router-outlet></router-outlet>