.formWrap{
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 4px;
}
.formWrap span.red{
    color: red;
    font-weight: bold
}
.formWrap label{
    display: block;
    width: 100%;
}
.formWrap label input, 
.formWrap label textarea{
    width: 100%;
}
.formWrap label textarea{
    min-height: 40px;
    max-height: 300px;
}
.formWrap input[type='checkbox'] {
    display: inline;
    width: auto !important;
}
.formWrap input[type='checkbox'].error{
    box-shadow: 0px 0px 5px 1px red;
}
.formWrap .error {
    border: 1px  solid red;
}

